body {
	overflow: hidden;
	position: fixed;
}

button {
	background-color: white;
	border: none;
	margin-right: 10px;
}

#gray {
	z-index: -100;
	background-color: rgba(200, 200, 200, 1);
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#map {
	background-image: url('images/map-2000.jpg');
	background-size: 100% 100%;
	width: 1000px;
	height: 1000px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -4;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 10%;
}

.point {
	background: rgba(255, 0, 0, 0.6);
	background-size: 100% 100%;
	width: 2%;
	height: 2%;
	z-index: -3;
	border-radius: 50%;
	position: absolute;
	/*animation-name: rotate;
	animation-duration: 5s; 
	animation-iteration-count: infinite; 
	animation-timing-function: linear;*/
}

.point img {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-style: solid;
	border-color: white;
}

/*@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}*/

#fon {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	z-index: -2;
}

#group_view, #create_group_view, #add_user_view, #move_buttons {
	display: none;
	position: fixed;
	background-color: rgba(50, 50, 50, 0.9);
	padding: 20px;
	border-radius: 10px;
	color: white;
}

#xy {
	display: inline;
}

.user {
	margin-top: 10px;
	background-size: 100% 100%;
}

#group_view_admin {
	display: none;
}

.user img {
	width: 50px;
	height: 50px;
	border-radius: 20px;
	float: left;
}

.user #uname {
	display: inline-block;
	margin: 15px 15px;
}

#close_button {
	float: right;
}

#resize_buttons {
	position:  fixed;
	top: 40%;
}

#resize_buttons * {
	width: 30px;
	height: 30px;
	margin: 2px 5px;
	/*border-style: solid;
	border-width: 3px;
	border-radius: 20%;*/
}

#resize_up {
	background-image: url('images/plus.jpg');
	background-size: 100% 100%;
}

#resize_down {
	background-image: url('images/minus.jpg');
	background-size: 100% 100%;
}

#add_user_view #group_name  {
	display: inline;
}

#temp_point {
	position: fixed;
	background-color: green;
	border-radius: 50%;
}

#move_buttons {
	display: none;
	position: fixed;
	left: 20px;
	top: 50px;
}

#move_buttons * {
	background-color: yellow;
	position: relative;
	width: 30px;
	height: 30px;
	border-style: solid;
	border-color: black;
	border-radius: 20%;
}